In [4]:
num = 12345

total = 0
while num != 0:
  rem = num % 10
  total += rem
  num //= 10
print(num)
print (total)

0
15

In [7]:
num = 12345
orignum = num

while num > 9:
  total = 0
  while num != 0:
    rem = num % 10
    total += rem
    num //= 10
  num = total
print ("Sum of %d is %d\n" %(orignum, total))
print ("Sum of", orignum, "is", total)

Sum of 12345 is 6

Sum of 12345 is 6

In [13]:
import random
print (random.random())
print (random.randint(1, 100))
print (random.randrange(1, 100, 3))

0.6792503556300411
89
43

In [21]:
def draw_line():
  'This is draw_line Function'
  print ("*" * 50)

num = 19
draw_line()
for iter in range(1, 11):
  print("%02d * %02d = %03d" % (num, iter, num * iter))
  #print (num, "*", iter, "=", num * iter)
draw_line()

**************************************************
19 * 01 = 019
19 * 02 = 038
19 * 03 = 057
19 * 04 = 076
19 * 05 = 095
19 * 06 = 114
19 * 07 = 133
19 * 08 = 152
19 * 09 = 171
19 * 10 = 190
**************************************************

In [32]:
def fibo_series(count: int):
  n1, n2 = 1, 1
  print (n1, n2, end = " ")
  cntr = 2
  while cntr < count:
    total = n1 + n2
    print (total, end = " ")
    cntr += 1
    n1, n2 = n2, total
  print()
fibo_series(10)
fibo_series(20)

1 1 2 3 5 8 13 21 34 55
1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [35]:
def sum_digits(num: int) -> int:
  total = 0
  while num != 0:
    rem = num % 10
    total += rem
    num //= 10
  return total

num = 12345
orignum = num

while num > 9:
  num = sum_digits(num)
 
print ("Sum of %d is %d\n" %(orignum, num))
print ("Sum of", orignum, "is", num)

Sum of 12345 is 6

Sum of 12345 is 6

In [43]:
def sum_numbers(n1, n2, n3):
  return n1 + n2 + n3

def sum_numbers1(n1, n2, n3=30):
  return n1 + n2 + n3

def sum_numbers2(n1, n2 = 20, n3=30):
  return n1 + n2 + n3

def sum_numbers3(n1 = 10, n2 = 20, n3=30):
  return n1 + n2 + n3

res = sum_numbers(10, 20, 30)
print (res)

print(sum_numbers1(15, 25))
print(sum_numbers2(15))
print(sum_numbers3())

60
70
65
60

In [50]:
def sum_numbers(n1, n2, n3):
  print(n1, n2, n3)
  return n1 + n2 - n3

print(sum_numbers(10, 20, 30))
print(sum_numbers(10, 30, 15))
print(sum_numbers(n2=10, n1=30, n3=15))

10 20 30
0
10 30 15
25
30 10 15
25

In [59]:
def sum_numbers(*nums):
  print(nums, type(nums))
  total = 0
  for val in nums:
    total += val
  return total

def my_input(*data):
  print(data, type(data))
  for index in range(len(data)):
    print(data[index], type(data[index]))

print(sum_numbers(10, 20))
print(sum_numbers(10, 20, 30))
print(sum_numbers(10, 20, 30, 40))
print(sum_numbers(10, 20, 30, 40, 50))

t1 = (10, "ten", 1234.5, {"one":1, "two":2}, [10, 20, 30, 40, 50])
my_input(t1)

(10, 20) <class 'tuple'>
30
(10, 20, 30) <class 'tuple'>
60
(10, 20, 30, 40) <class 'tuple'>
100
(10, 20, 30, 40, 50) <class 'tuple'>
150
((10, 'ten', 1234.5, {'one': 1, 'two': 2}, [10, 20, 30, 40, 50]),) <class 'tuple'>
(10, 'ten', 1234.5, {'one': 1, 'two': 2}, [10, 20, 30, 40, 50]) <class 'tuple'>

In [56]:
t1 = (10, "ten", 1234.5, {"one":1, "two":2}, [10, 20, 30, 40, 50])
print(t1, type(t1))
print(t1[0], type(t1[0]))
print(t1[1], type(t1[1]))
print(t1[2], type(t1[2]))
print(t1[3], type(t1[3]))
print(t1[4], type(t1[4]))

(10, 'ten', 1234.5, {'one': 1, 'two': 2}, [10, 20, 30, 40, 50]) <class 'tuple'>
10 <class 'int'>
ten <class 'str'>
1234.5 <class 'float'>
{'one': 1, 'two': 2} <class 'dict'>
[10, 20, 30, 40, 50] <class 'list'>

In [62]:
l1 = range(10)
print(list(l1))
print(list(range(1, 20, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [65]:
def concat_str(*strs):
  cstr = ""
  for s1 in strs:
    cstr += s1
  return cstr

print(concat_str("This", "is", "string"))

Thisisstring

In [69]:
def sum_numbers(cnt, *nums):
  print(cnt, *nums)
#def sum_numbers_notright(cnt, *nums, num):
 # print(cnt, *nums, num)
sum_numbers(5, 10, 20, 30, 40, 50)
#sum_numbers_notright(5, 10, 20, 30, 40, 50, 60)

5 10 20 30 40 50

In [77]:
def keyword_args_test(**kwargs):
  print(kwargs, type(kwargs))
  core, language = 0, 0
  for lang, marks in kwargs.items():
    if lang == "Physics" or lang == "chemistry" or lang == "maths":
      core += marks
    else:
      language += marks
  return core, language

def keyword_args_test2(**kwargs):
  print(kwargs, type(kwargs))
  lres = []
  core, language = 0, 0
  for lang, marks in kwargs.items():
    if lang == "Physics" or lang == "chemistry" or lang == "maths":
      core += marks
    else:
      language += marks
  lres.append(core)
  lres.append(language)
  return lres
  
res = keyword_args_test(Physics=80, chemistry = 100, maths=95, english=86, telugu=91)
print(res, type(res))

res = keyword_args_test2(Physics=80, chemistry = 100, maths=95, english=86, telugu=91)
print(res, type(res))

{'Physics': 80, 'chemistry': 100, 'maths': 95, 'english': 86, 'telugu': 91} <class 'dict'>
(275, 177) <class 'tuple'>
{'Physics': 80, 'chemistry': 100, 'maths': 95, 'english': 86, 'telugu': 91} <class 'dict'>
[275, 177] <class 'list'>

In [79]:
def factorial(num):
#def factorial(num: int) -> int:
  if num == 0 or num == 1:
    return 1
  return num * factorial(num - 1)

print(factorial(5))
print(factorial(6))

120
720

In [90]:
def decending_order(num):
  if num == 0:
    return
  print(num, end = " ")
  decending_order(num - 1)
  print("num=", num)
  return

def ascending_order(num):
  if num == 0:
    return
  ascending_order(num - 1)
  print(num, end = " ") # Addr
  return

decending_order(5)
print()
ascending_order(5)
print()

5 4 3 2 1 num= 1
num= 2
num= 3
num= 4
num= 5

1 2 3 4 5

In [100]:
t1 = (10, "ten", 1234.5, {"one":1, "two":2}, [10, 20, 30, 40, 50])
print(t1, type(t1))
print(t1, "data type =" + str(type(t1)), "10" + "20")
s1 = "10"
s2 = "20"
res = s1 + s2
print(res)
print(10 + 20)
print (s1 + s2)

(10, 'ten', 1234.5, {'one': 1, 'two': 2}, [10, 20, 30, 40, 50]) <class 'tuple'>
(10, 'ten', 1234.5, {'one': 1, 'two': 2}, [10, 20, 30, 40, 50]) data type =<class 'tuple'> 1020
1020
30
1020

In [101]:
def myfunc(val, l1):
  print(val)
  val += 1
  l1.append("end")
  return val, l1

v1 = 123
list1 = [10, 20, 30, 40]
res = myfunc(v1, list1)
print(res)

123
(124, [10, 20, 30, 40, 'end'])

In [102]:
def myfunc(val, l1):
  print(val)
  val += 1
  l1.append("end")
  return

v1 = 123
list1 = [10, 20, 30, 40]
myfunc(v1, list1)
print(v1, list1)

123
123 [10, 20, 30, 40, 'end']

In [106]:
def myfunc(val, l1):
  val += 1
  l1 = [1, 2, 3, 4, 5]
  return

myval = 123
mylist = [10, 20, 30, 40]
print(mylist)
myfunc(myval, mylist)
print(myval, mylist)

[10, 20, 30, 40]
123 [10, 20, 30, 40]

In [108]:
def myfunc2(val, l1, l2):
  val += 10
  l1.append("LAST")
  l2 = [12, 23, 34, 45, 56]
  return

myv1 = 123
myl1 = [10, 20, 30, 40, 50]
myl2 = [100, 200, 300, 400, 500]
myfunc2(myv1, myl1, myl2)
print(myv1, myl1, myl2)

123 [10, 20, 30, 40, 50, 'LAST'] [100, 200, 300, 400, 500]

In [113]:
def myfunction(val):
  print(val)
  global v1
  print(v1)
  v1 += 123
  return

v1 = 10
v2 = 111
myfunction(v2)
print(v1, v2)

111
10
133 111